.clean-side-padding
    padding-left: 0
    padding-right: 0

.tabs--primary
    +hide
.control-tabs
    .tabs--primary
        +show

.admin-menu
    .menu-onpage
        +posfix1(35px,5px)
        z-index: 9999
.menu-onpage
    +posfix1(5px,5px)
    z-index: 9999
#navbar
    margin-top: 0
    +above(768px)
        display: none

.bootstrap-slideshow
    p
        margin-bottom: 10px
    ol
        bottom: 10px
        li
            width: 12px
            height: 12px
            margin: 0 5px
            &.active
                margin: 0 5px

.block
    .block-title
        +common-block-title

#page-title
    margin-left: 0
    margin-right: 0

#admin-menu,
.menu-onpage,
.logoblock,
.menuchinh
    +below($breakpoint2)
        +hide

.logoblock
    img
        +size(auto,90px)

.menuchinh
    .sf-menu
        display: flex
        flex-direction: row
        justify-content: flex-end

        /* Menu cấp 2*/
        li.sf-depth-1
            margin-right: 40px
            +below($breakpoint1)
                margin-right: 30px
            &.last
                +nopadmar
                background: none
            &.active-trail,
            &:hover
                & > a
                    border-bottom: 3px solid $color-primary
                    text-decoration: none
                & > ul
                    /*Fix hiển thị menu cấp 2 khi load trang*/
                    opacity: 1
            a.sf-depth-1
                font: 17px/88px "ici-andes"
                color: #222
                display: block
                +below($breakpoint0)

            /*Menu cấp 2*/
            & > ul
                background: rgba(168,194,69,0.95)
                /*top nên bằng line-height của menu cấp 1*/
                top: 90px
                padding: 0 !important
                left: -10px
                /*Fix hiển thị menu cấp 2 khi load trang*/
                opacity: 0
                li.sf-depth-2
                    padding-right: 15px
                    border-bottom: 1px solid rgba(255,255,255,0.1)
                    box-sizing: border-box
                    &.menuparent
                        +bgnorep-rc("viewmorebullet.svg")
                    &.last
                        border: none
                    a.sf-depth-2
                        +submenu-link

                    /*Menu cấp 3*/
                    & > ul
                        background: $color-primary
                        padding: 0 !important
                        li.sf-depth-3
                            border-bottom: 1px solid rgba(255,255,255,0.1)
                            box-sizing: border-box
                            &.last
                                border: none
                            a.sf-depth-3
                                +submenu-link

.home-slideshow
    .view-content
        .views-slideshow-controls-top
            position: relative
            a
                +size(40px,40px)
                outline: none
                text-indent: -9999px
            .views-slideshow-controls-text-pause
                +hide
            .views-slideshow-controls-text-previous
                +posabs1(30px,15px)
                z-index: 100
                a
                    +bgnorep-cc("arrow-prev.svg")
            .views-slideshow-controls-text-next
                +posabs2(30px,10px)
                z-index: 100
                a
                    +bgnorep-cc("arrow-next.svg")
            .views-slideshow-pager-fields
                +flex-row
                +posabs1(0,0) /*Vị trí top của pager sẽ được điểu chỉnh bởi jquery*/
                justify-content: center
                width: 100%
                z-index: 100
                +below($breakpoint1)
                    +hide
                .views-slideshow-pager-field-item
                    +invisible-link-block
                    +size(12px,12px)
                    background: #fff
                    border-radius: 6px
                    border: 1px solid rgba(0,0,0,0.5)
                    margin: 0 2px
                    cursor: pointer
                    opacity: 1
                    &.active
                        background: $color-primary
        .views_slideshow_cycle_main
            .views-slideshow-cycle-main-frame
                .views-slideshow-cycle-main-frame-row
                    position: relative
                    width: 100% !important
                    img
                        +image-responsive
                    .views-fieldset
                        +posabs4(0,0)
                        +size(100%,120px)
                        padding: 15px
                        box-sizing: border-box
                        text-align: center
                        +below($breakpoint1)
                            position: relative
                            top: auto
                            height: auto
                        .views-field-title
                            a
                                font: bold 15px $globalfont
                                color: $color-primary
                        .views-field-body
                            margin-top: 5px

.home-khoahoc
    .view-content
        .views-row
            margin-bottom: 20px
            .inside
                border-radius: 10px
                box-shadow: 3px 3px 10px rgba(0,0,0,0.2)
                border: 4px solid #fff
                .views-field-field-image
                    img
                        border-radius: 6px 6px 0 0
                .info
                    padding: 0 15px
                    text-align: center
                    font: 16px/25px "utmdaxbold"
                    color: #fff
                    +below($breakpoint1)
                        font: 15px/22px "utmdaxbold"

                    .views-field-title
                        margin: 15px 0 0 0
                    .views-field-field-ngaykhaigiang
                        .views-label
                        .field-content
                            display: inline-block
                            margin: 0 5px
                    /*Nút đăng ký*/
                    .views-field-view-node
                        margin: 15px 0
                        a
                            +size(154px,46px)
                            color: rgba(0,0,0,0)
                            display: inline-block

        .views-row-1 .inside
            background: $color-secondary
            .views-field-view-node a
                +bgnorep-cc("home-dangky2.svg")
        .views-row-2 .inside
            background: $color-primary
            .views-field-view-node a
                +bgnorep-cc("home-dangky1.svg")
        .views-row-3 .inside
            background: $color-secondary
            .views-field-view-node a
                +bgnorep-cc("home-dangky2.svg")

.mailsub
    margin-top: 0px
    .block-title
        background: none
        padding-bottom: 0
        margin-bottom: 20px
    .webform-client-form > div
        +centerblock(80%)
        +flex-row
        +below($breakpoint1)
            width: 100%
        .allinput
            +flex-row
            flex-basis: 70%
            +below($breakpoint1)
                flex-basis: 100%

            .form-item
                +flex-column(2)
                padding: 0 10px
                +below($breakpoint1)
                    +flex-column(1)
                .form-text,
                .form-select
                    padding: 20px
                    font: 20px "ici-andes"
                    border-radius: 10px
                    border-color: $color-secondary
                    color: #333
                    &::placeholder
                        color: #333
                .form-select
                    height: 42px
                    padding: 0 20px
        .form-actions
            flex-basis: 30%
            padding-top: 20px
            padding-left: 10px
            +below($breakpoint1)
                flex-basis: 100%
                padding-left: 0px
                text-align: center
            .form-submit
                padding: 15px
                border-radius: 10px
                border-color: $color-secondary
                width: 100%
                color: $color-primary
                font: 24px "ici-andes"
                +below($breakpoint1)
                    width: auto
                    display: inline-block

.gioithieulink
    margin-top: 30px
.gioithieuhinhhoatdong
    .block-title
        padding-bottom: 0
        margin-bottom: 15px
        background: none
        font: bold 17px/25px "ici-andes"
        text-align: left
        text-transform: none
    .view-content
        overflow: hidden
        .views-row
            margin-bottom: 20px
            .views-field-field-image
                img
                    +common-image
    .more-link
        text-align: center
        margin-top: 20px
        a
            display: inline-block


.footerinfo
    padding-top: 70px
    font: 13px "utmdax"
    color: #333
    +below($breakpoint1)
        padding-top: 20px
    .block-title
        +below($breakpoint3)
            text-align: center !important
    img
        margin-bottom: 20px
    p
        padding: 2px 0 10px 30px
        &.diachi
            +bgnorep-tl("icon-address.svg")
            background-size: 20px 20px
        &.email
            +bgnorep-tl("icon-mail.svg")
            background-size: 20px 20px
        &.hotline
            +bgnorep-tl("icon-phone.svg")
            background-size: 20px 20px

.khoahockhac
    margin-top: 30px

.formdangkykhoahoc
    .block-title
        text-align: left
        background-position: left bottom
        margin-left: 0
        margin-right: 0
    .webform-client-form
        margin-top: 20px

.mangxahoi
    padding-top: 70px
    +below($breakpoint1)
        padding-top: 20px
    .block-title
        margin-left: 0
        +below($breakpoint3)
            text-align: center !important
    .view-content
        +below($breakpoint3)
            +flex-row
        .views-row
            margin-bottom: 10px
            +below($breakpoint3)
                +flex-column(3)
                padding: 0 5px
            img
                +size(auto,auto)

.statistic
    padding-top: 200px
    +below($breakpoint1)
        +hide
    ul
        +nopadmar
        li
            list-style: none
            color: #fff
#locationmap_map
    width: 100% !important

.home-trichdan
    .view
        .views-row
            .inside
                +flex-row
                background: $color-secondary
                margin-top: 40px
                padding: 20px
                border-radius: 10px
                .views-field-field-image
                    flex-basis: 20%
                    padding: 0 10px 0 20px
                    box-sizing: border-box
                    +below($breakpoint1)
                        flex-basis: 30%
                    +below($breakpoint3)
                        +hide
                    img
                        border-radius: 50%
                .infogroupright
                    flex-basis: 80%
                    padding: 30px 50px 0
                    box-sizing: border-box
                    font: 30px/35px "ici-andes"
                    color: #222
                    +below($breakpoint1)
                        flex-basis: 70%
                        padding: 10px 20px 0
                        font: 20px/25px "ici-andes"
                    +below($breakpoint3)
                        flex-basis: 100%
                        padding: 10px 10px 0
                    .views-field-title
                        margin-top: 30px
                        text-align: right
                        font-size: 25px
                        +below($breakpoint1)
                            margin-top: 20px
                            font-size: 15px

.home-baiviet
    margin-top: 20px
    .view-content
        .views-row
            .views-field-field-image
                img
                    border-radius: 7px
            .views-field-title
                margin: 10px 0
            .views-field-field-summary
                text-align: justify
                font: 13px/20px $globalfont

.logofooter
    +posabs2(30px,0px)
    width: 30%
    +below($breakpoint1)
        +hide
