=common-block-title
    +bgnorep-bc("maintitle.png")
    font: bold 33px "ici-andes"
    margin: 20px 15px
    padding: 20px 0
    text-align: center
    color: $color-primary
    text-transform: uppercase
    margin-bottom: 30px
    border: none !important
    +below($breakpoint1)
        font-size: 20px

=common-textform
    border: 1px solid $color-primary
    border-radius: 4px
    font: 14px $globalfont
    padding: 5px
    box-sizing: border-box

=common-submit-button
    padding: 5px 10px
    font: 14px $globalfont
    border: none
    border-radius: 3px
    color: #fff
    cursor: pointer
    background: darken($color-primary,20%)
    display: inline-block

=submenu-link
    padding: 10px
    font: 13px $globalfont
    color: rgba(255,255,255,0.9)
    &:hover
        text-decoration: none
        color: #fff

=common-image
    border-radius: 5px
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2)
    border: 4px solid #fff
