/*Trang chủ*/
.front
    h1
        +hide

/*Trang tổng hợp sản phẩm*/
.page-san-pham
    h1
        margin-bottom: 0

/*Trang chi tiết tin tức*/
.node-type-article
    .page-header
    .node-article
        font: 14px/25px $globalfont
        +centerblock(70%)
        color: $color-text
        text-align: justify
        +below($breakpoint0)
            width: 80%
        +below($breakpoint2)
            width: 100%
            padding: 0 20px
        img
            +image-responsive
            margin: 20px

.page-node-9
    .maincontent
        .webform-client-form
            margin-top: 30px

/*Trang giới thiệu*/
.page-node-2
    .node-article

/*Trang chi tiết khóa học*/
.node-type-content-khoahoc
    .field-name-title
        h2
            +common-block-title
            text-align: left
            background-position: left bottom
            margin-left: 0
            margin-right: 0
