.view
    .view-content
        .views-row
            position: relative
        .views-field-edit-node,
        .views-field-edit-term
            +posabs1(5px,5px)
            +size(20px,20px)
            +bgnorep-cc("icon-edit.svg")
            +opacity-hover
            border-radius: 10px
            background-color: darken($color-primary, 30%)
            background-size: 60% 60%
            z-index: 1000
            a
                +invisible-link-block

        .views-field-delete-node
            +posabs1(5px,27px)
            +size(20px,20px)
            +bgnorep-cc("icon-delete.svg")
            +opacity-hover
            border-radius: 10px
            background-color: darken($color-primary, 30%)
            background-size: 60% 60%
            z-index: 1000
            a
                +invisible-link-block

.danhsachdichvu,
.danhsachbaiviet,
.danhsachalbum,
.danhsachkhoahoc
    .views-row
        margin-bottom: 20px
        .views-field-field-image
            img
                +common-image
        .views-field-title,
        .views-field-name
            margin: 15px 0 10px
            a
                font: bold 17px/25px "ici-andes"
        .views-field-body,
        .views-field-description
            text-align: justify
            font: 13px/20px $globalfont
            color: $color-text
        .views-field-nothing,
        .views-field-view-node
            margin-top: 10px
            a
                font: 13px/20px $globalfont
.danhsachdichvu
    .view-content
        +flex-row-center
        .views-row
            +flex-column(3)
            padding: 0 15px
            margin-bottom: 20px
            +below($breakpoint2)
                +flex-column(2)
            +below($breakpoint3)
                +flex-column(1)

.danhsachchuyenvien
    .view-content
        +flex-row
        .views-row
            +flex-column(2)
            margin-bottom: 25px
            padding: 0 15px
            +below($breakpoint2)
                +flex-column(1)
            .views-field-field-image
                padding-left: 0
                img
                    +common-image
            .views-field-title
                margin: 0 0 10px
                a
                    font: bold 17px/25px "ici-andes"
            .views-field-body
                text-align: justify
                font: 13px/20px $globalfont
                color: $color-text
            .views-field-nothing,
            .views-field-view-node
                margin-top: 10px
                a
                    font: 13px/20px $globalfont

.danhsachkhoahoc
    .views-row
        .views-field-name-1
            margin-top: 10px
            text-align: center
            a
                +bgnorep-cc("chitiet.svg")
                +size(160px,43px)
                color: rgba(0,0,0,0)
                display: inline-block
    &.trangnhanh
        .view-content
            +flex-row
        .views-row
            position: relative
        .views-field-view-node
            margin-top: 10px
            text-align: center
            a
                +bgnorep-cc("home-dangky1.svg")
                +size(160px,43px)
                color: rgba(0,0,0,0)
                display: inline-block
        .views-field-nothing
            +posabs1(10px,30px)
            background: $color-primary
            padding: 3px
            .field-content
                +size(65px,65px)
                border: 1px solid #fff
                text-align: center
                color: #fff
                .day
                    font: 29px/35px "utmdaxbold"
                    clear: both
                .month
                    font: 15px/25px "utmdaxbold"
                    clear: both
