@import "variables"
@import "w3ateamlibs/lib-master"
@import "mixins"
@import "views"
@import "blocks"
@import "pages"
@import "modules"

a
    font: bold 14px $globalfont
    text-decoration: none
    color: $color-primary
    outline: none
    &:hover
        color: lighten($color-primary,10%)

h1
    +common-block-title
h3,h4
    font: 20px/40px "ici-andes"
    color: $color-primary

#admin-menu
    a
        font-size: 11px

body
    +nopadmar
    font: 14px/20px $globalfont
    color: $color-text
    .navbar
        margin-bottom: 0
        .logo
            img
                +size(auto, 60px)
    .breadcrumb
        margin-bottom: 0
    .header-container
        +posfix1(0,0)
        +size(100%,90px)
        z-index: 1111
        background: #fff
        box-shadow: 0 0 10px rgba(0,0,0,0.4)
        +below($breakpoint2)
            +hide
    .mainbody-cover
        +bgrep("background.jpg")
        .mainbody
            .main-container
                .row
                    margin-top: 30px
                    padding-bottom: 40px
                    +below($breakpoint1)
                        margin-top: 0
    .banner
        margin-top: 90px
        +below($breakpoint2)
            margin-top: 0
    .footer-container
        +bgnorep-bc("bgfooter.png")
        background-size: 100% 290px
        height: 290px
        +below($breakpoint1)
            background: $color-secondary
            height: auto
        .footer
            margin: 0 auto
            padding: 0
            border: none
            .region-footer
                position: relative
            .block
                .block-title
                    padding: 0
                    margin-top: 0
                    margin-bottom: 10px
                    background: none
                    font: 19px "ici-andes"
                    text-align: left
                    color: #fff
    .page-header
        padding-bottom: 20px
    .container
