/*block styles and layouts*/
=show
    display: block !important
=hide
    display: none !important

=nopadmar
    padding: 0
    margin: 0

=size($width,$height)
    width: $width
    height: $height
    display: block

=invisible-link-block
	+size(100%,100%)
	+nopadmar
	text-indent: -9999px
	opacity: 0
	outline: none

=centerblock($width)
    width: $width
    margin: 0 auto
    display: block

=centerblock-h($width,$height)
    +centerblock($width)
    height: $height

=leftblock($width)
    float: left
    width: $width
    display: block

=leftblock-h($width,$height)
    +leftblock($width)
    height: $height

=rightblock($width)
    float: right
    width: $width
    display: block

=rightblock-h($width,$height)
    +rightblock($width)
    height: $height

/*Flexbox control*/

=flex-column($column)
    $width: percentage((100/$column)/100)
    width: $width

=flex-row
    display: flex
    flex-wrap: wrap
    flex-direction: row

=flex-row-center
    +flex-row
    justify-content: center

=flex-row-right
    +flex-row
    justify-content: right

=flex-row-space-between
    +flex-row
    justify-content: space-between

/*Block width responsive*/

=below($breakpoint)
    @media (max-width: $breakpoint)
        @content

=above($breakpoint)
    @media (min-width: $breakpoint)
        @content

=between($minbreakpoint,$maxbreakpoint)
    @media (min-width: $minbreakpoint) and (max-width: $maxbreakpoint)
        @content
